name: CI

# https://github.com/orgs/community/discussions/26276
on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/ci.yml'
      - 'holdem/appsrc/**'
      - 'holdem/libsrc/**'
      - 'Makefile'
      - 'holdem/sim/**'
      - 'holdem/src/**'
      - 'holdem/unittests/**'
  pull_request:
    types: [synchronize, opened]
    paths:
      - '.github/workflows/ci.yml'
      - 'holdem/appsrc/**'
      - 'holdem/libsrc/**'
      - 'Makefile'
      - 'holdem/sim/**'
      - 'holdem/src/**'
      - 'holdem/unittests/**'
  workflow_dispatch:

jobs:
  automated_build:
    name: 'Build (see Makefile)'
    runs-on: 'ubuntu-24.04'
    timeout-minutes: 3
    steps:
    - uses: actions/checkout@v5
    - name: Install ctags (needed by Makefile `tags` target)
      run: sudo apt-get update && sudo apt-get install -y universal-ctags
    - name: Must compile successfully
      run: cd holdem && make SHELL="$SHELL -x"

  automated_tests:
    name: 'Test (see holdem/unittests/main.cpp)'
    runs-on: 'ubuntu-24.04'
    timeout-minutes: 4
    steps:
    - uses: actions/checkout@v5
    - name: Extract opening book (speedup unit test runtime)
      run: |
        mkdir -v -p ~/pokeroo-run/lib/holdemdb
        unzip holdem/holdemdb_arm64.zip -d ~/pokeroo-run/lib/holdemdb/
        # ~/pokeroo-run/lib/holdemdb â† is because of the runtime path used in the `test` target of the Makefile
    - name: Must pass unit tests
      run: cd holdem && make test
  spot_check_db:
    name: 'Sanity check database generation'
    runs-on: 'ubuntu-24.04'
    timeout-minutes: 45
    steps:
    - uses: actions/checkout@v5
    - name: "make db (unittests/regenerate_opening_book.cpp has a special codepath that checks for GITHUB_ACTIONS=truw)"
      env:
        HOLDEMDB_PATH: /tmp/opening_book_selftest
      run: cd holdem && make db && mkdir -vp /tmp/opening_book_selftest && bin/regenerate_opening_book_selftest -1
    - name: "Extract comparison DB (A9S, AKx, JTS, 22x) into hexdump // See `spot_check_regression_test` in unittests/regenerate_opening_book.cpp"
      run: |
        mkdir -v -p ~/pokeroo-run/lib/holdemdb
        unzip "holdem/holdemdb_arm64.zip" -d ~/pokeroo-run/lib/holdemdb/

        cd ~/pokeroo-run/lib/holdemdb
        echo A9S.holdemC A9S.holdemW AKx.holdemC AKx.holdemW JTS.holdemC JTS.holdemW 22x.holdemC 22x.holdemW | tr ' ' "\n" | sort | xargs -I @ hexdump -C @ > /tmp/opening_book_selftest/gold.txt

    - name: Parse generated DB into hexdump
      run: |
        cd /tmp/opening_book_selftest
        ls -1 *.holdemC *.holdemW | sort | xargs -I @ hexdump -C @ > current.txt

        # INVARIANT: We now have /tmp/opening_book_selftest/gold.txt and /tmp/opening_book_selftest/current.txt that can be compared

    - name: "Compare gold (binary) vs. current (binary)"
      run: diff -uw /tmp/opening_book_selftest/gold.txt /tmp/opening_book_selftest/current.txt
