name: Profile Runtime

on:
  workflow_dispatch:

jobs:
  profile_with_callgrind:
    name: Analyze Runtime hotspots of inference functionality
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: Compile executable
      run: cd holdem && make testbin
    - name: Set up opening book (so we can profile inference but not training)
      run: |
        mkdir -v -p ~/pokeroo-run/lib/holdemdb
        cd holdem
        unzip "$(make echoreleasearchive | tail -n 1)" -d ~/pokeroo-run/lib/holdemdb/
        #  ^^^   e.g. >>> `unzip holdemdb_clang.zip -d ~/pokeroo-run/lib/holdemdb/`
        # ~/pokeroo-run/lib/holdemdb â† is because of the runtime path used in the `test` target of the Makefile
    - name: Instrument
      run: |
        sudo apt-get update && sudo apt-get install -y valgrind
        echo ~/pokeroo-run/lib/holdemdb/ | tee holdemdb.ini
        valgrind --tool=callgrind --cache-sim=yes --branch-sim=yes --callgrind-out-file=holdem/unittests/unittests_clang.callgrind -- holdem/bin/unittests_clang
    - name: Runtime performance profiling report
      run: |
        callgrind_annotate holdem/unittests/unittests_clang.callgrind | tee holdem/unittests/callgrind_report.txt
        tar -cv holdem/unittests/unittests_clang.callgrind holdem/unittests/callgrind_report.txt | xz -vv -z -9 -e > "runtimeperformance-${RUNNER_NAME}-$(hostname)_${GITHUB_DESCRIPTION}.${GITHUB_SHA}.${GITHUB_HEAD_REF}_callgrind.tar.xz"
    - name: Upload flamegraph
      uses: actions/upload-artifact@v4
      with:
        name: callgrind-${{ runner.name }}_${{ github.description }}.${{ github.sha }}.${{ endsWith(github.ref_name, '/merge') && github.head_ref || github.ref_name }}_flamegraphs
        path: runtimeperformance-*_callgrind.tar.xz
        # include-hidden-files: false by default
        if-no-files-found: error
        overwrite: true
        compression-level: 0
        retention-days: 5
